<div class="profile">
  <div class="border rounded d-flex flex-row flex-wrap">
    <div>
      {{#if userProfile.image}}
      <img src="{{userProfile.image}}" alt="avatar" class="rounded-circle m-3" style="object-fit:cover; height:300px; width:300px">
      {{else}}
      <img src="https://ksa102.com.tw/orderclass/image/noimage.jpg" alt="avatar" class="rounded-circle m-3" style="object-fit:cover; height:300px; width:300px">
      {{/if}}
    </div>
    <div class="m-5" style="width:300px">
      <h5>{{userProfile.name}}</h5>
      <p class="mt-3">{{userProfile.email}}</p>
      <div class="mt-3"><strong>{{comments.length}}</strong> 已評論餐廳</div>
      <div class="mt-1"><strong>{{userProfile.FavoritedRestaurants.length}}</strong> 收藏的餐廳</div>
      <div class="mt-1"><strong>{{userProfile.Followings.length}}</strong> followings (追蹤者)</div>
      <div class="mt-1 mb-3"><strong>{{userProfile.Followers.length}}</strong> followers (追隨者)</div>
      {{#ifEqual userProfile.id user.id}}
      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
      {{/ifEqual}}
    </div>
  </div>
</div>

<div class="row">
  {{!-- followings and followers --}}
  <div class="col-md-4">
    {{!-- followings --}}
    <div class="followings mt-4">
      <div class="card">
        <div class="card-header">
          <strong>{{userProfile.Followings.length}}</strong> followings (追蹤者)
        </div>
        <div class="card-body d-flex flex-row flex-wrap">
          {{#if userProfile.Followings.length}}
            {{#each userProfile.Followings}}
            <a href="/restaurants/{{this.id}}" alt="{{this.name}}">
              {{#if this.image}}
              <img src="{{this.image}}" style="object-fit:cover" width="60" height="60" class="rounded m-2" title="{{this.name}}"/>
              {{else}}
              <img src="https://ksa102.com.tw/orderclass/image/noimage.jpg" style="object-fit:cover" width="60" height="60" class="rounded m-2" title="{{this.name}}"/>
              {{/if}}
            </a>
            {{/each}}
          {{else}}
            <h6>尚未追蹤其他使用者</h6>      
          {{/if}}
        </div>
      </div>
    </div>
    {{!-- followers --}}
    <div class="commented-restaurants mt-4">
      <div class="card">
        <div class="card-header">
          <strong>{{userProfile.Followers.length}}</strong> followers (追隨者)
        </div>
        <div class="card-body d-flex flex-row flex-wrap">
          {{#if userProfile.Followers.length}}
            {{#each userProfile.Followers}}
            <a href="/restaurants/{{this.id}}" alt="{{this.name}}">
              {{#if this.image}}
              <img src="{{this.image}}" style="object-fit:cover" width="60" height="60" class="rounded m-2" title="{{this.name}}"/>
              {{else}}
              <img src="https://ksa102.com.tw/orderclass/image/noimage.jpg" style="object-fit:cover" width="60" height="60" class="rounded m-2" title="{{this.name}}"/>
              {{/if}}
            </a>
            {{/each}}
          {{else}}
            <h6>尚未被其他使用者追蹤</h6>      
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{!-- commented and favorited restaurants --}}
  <div class="col-md-8">
    {{!-- commented restaurants --}}
    <div class="commented-restaurants mt-4">
      <div class="card">
        <div class="card-header">
          <strong>{{comments.length}}</strong> 已評論餐廳
        </div>
        <div class="card-body d-flex flex-row flex-wrap">
          {{#if comments.length}}
            {{#each comments}}
            <a href="/restaurants/{{this.restaurantId}}" alt="{{this.Restaurant.name}}">
              <img src="{{this.Restaurant.image}}" width="60" height="60" class="rounded m-2" title="{{this.Restaurant.name}}"/>
            </a>
            {{/each}}
          {{else}}
            <h6>尚未評論餐廳</h6>      
          {{/if}}
        </div>
      </div>
    </div>
    {{!-- favorited restaurants --}}
    <div class="favorited-restaurants mt-4">
      <div class="card">
        <div class="card-header">
          <strong>{{userProfile.FavoritedRestaurants.length}}</strong> 收藏的餐廳
        </div>
        <div class="card-body d-flex flex-row flex-wrap">
          {{#if userProfile.FavoritedRestaurants.length}}
            {{#each userProfile.FavoritedRestaurants}}
            <a href="/restaurants/{{this.id}}" alt="{{this.name}}">
              <img src="{{this.image}}" width="60" height="60" class="rounded m-2" title="{{this.name}}"/>
            </a>
            {{/each}}
          {{else}}
            <h6>尚未收藏餐廳</h6>      
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
